{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "plugins": ["react", "prettier", "flowtype", "flowtype-errors"],
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "tabWidth": 2
      }
    ],
    "flowtype-errors/show-errors": 2,
    "no-warning-comments": [
      1,
      { "terms": ["todo", "fixme", "xxx"], "location": "start" }
    ],
    "react/sort-comp": [0],
    "react/no-unescaped-entities": [0],
    "react/jsx-boolean-value": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/default-props-match-prop-types": "off",
    "jsx-a11y/no-static-element-interactions": [0]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
