@import '../css/variables';
@import '../css/mixins';

.footer-bar {
  color: $color-white;
  background-color: $color-blue;
  font-size: rem(10px);
}

.footer-bar__info {
  margin-left: rem(10px);
  &:first-child {
    margin-left: 0;
  }
}

.footer-bar--left {
  margin-left: $spacing !important;
}

.footer-bar--right {
  float: right !important;
  margin-right: $spacing !important;
}
